body {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#mainDiv {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
  justify-content: center;
  border-radius: 20px;
}

h1 {
  font-size: 2.5em;
}

.eventBox {
  width: 400px;
  height: 400px;
  margin: 2%;
  box-shadow: #f77f00 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #0ad6ff;
}

p {
  font-size: 0.8em;
  margin: 7px;
}

input,
select,
#hiddenInput,
#filters,
#searchButton {
  border: 2px solid #f77f00;
  border-radius: 15px;
  color: black;
  padding: 5px 15px;
  text-align: center;
  transition: all 0.3s;
  background-color: #0ad6ff;
}

#filters:hover,
#searchButton:hover,
input:hover,
select:hover {
  color: white;
  background-color: #005d8f;
}

#logoImg {
  position: absolute;
  top: -75px;
  left: 2%;
  height: 300px;
  width: 300px;
}

#forms {
  padding-top: 5%;
}
#filters {
  font-weight: bold;
}

.userData {
  display: flex;
  margin: 20px;
  width: 80%;
  justify-content: space-between;
  font-size: 2em;
}

#user {
  outline: 2px solid black;
  padding: 10px;
  width: 60%;
}

.eventNb {
  display: none;
}

#link {
  /* color: #f77f00; */
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}
