body {
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

.eventDetailHeader {
    width: 100%;
    padding-top: 100px;
    margin-bottom: 20px;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    border-bottom-width: 1px;
    -moz-border-bottom-colors: lightgray;
}

.hostPhoto {
    height: 50px;
    width: 50px;
    margin: 10px 20px 0 20px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    clip-path: circle(50% at 50% 50%);
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    object-fit: cover;
}


#eventHeaderContent {
    width: 85%;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-bottom: 20px;
}

#headerContentExtra {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#eventName {
    display: flex;
    align-items: center;
    justify-content: center;
}

#eventDetail {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   width: 100vm;
   margin: auto;
   margin-top: auto;
   margin-right: auto;
   margin-bottom: auto;
   margin-left: auto;
   padding-bottom: 50px;
}

#attendButton {
    width: auto;
    padding: 0 10px 0 10px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.submit {
    margin: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: #005d8f;
    border-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: white;
    border-radius: 42px;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    height: 50px;
}

.eventDetailMainContent {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-bottom: 20px;
}

.eventDetailDescription {
    width: 65%;
}
.eventImage {
    max-width: 100%;
    margin-bottom: 20px;
    display: block;
}

.eventDetailSideContent {
    width: 32%;
    margin-left: 15px;
}

#commentForm {
    margin-top: 50px;
}

#formContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#comment {
    width: 70%;
    border: none;
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    resize: none;
    border-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.mapDisplay {
    background-color: silver;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.eventInfo {
    background-color: silver;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


.eventInfoDetail {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}



#mapContainer {
    width: 100%;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-bottom: ;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

#map {
    border: 2px solid black;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 550px;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-inline-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#eventPreviews {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#seeAllEvents {
    margin-top: 15px;
    color:  #005d8f;
}

footer {
    margin-top: 0px;
    padding-bottom: 10px;
    background: wheat;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: white;
}

.footer {
    margin-bottom: 0px;
    padding-left: 0px;
}

footer>ul {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}