.top{
    /* width:50%;
}

.mainContainer{
    column-count: 2;

}

.footerContent{
  display: flexbox;
  column-count: 3;
  position: fixed;
  width: 100%;
} */

/* .carousel-inner img{
  height:100px;
  width: 100px;
} */
